.container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.sectionTitle {
  font-size: 2rem;
  margin-bottom: 40px;
  text-align: center;
}

.experiencesContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 800px;
  margin: 0 auto;
}
